.why-section {
  padding: 2rem 4rem;
  text-align: center;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  background: rgb(220,237,225);
}

.why-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333333;
  display: flex;
  justify-content: center;
}

.why-OneLiner {
  font-weight: 500;
  color: inherit;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns for the first row */

}

.why-item {
  padding: 0rem 1rem;
  /* border-radius: 8px; */
  color: #333333;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.why-icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  overflow: hidden; /* Ensure the image stays within the circle */
  display: flex;
  align-items: center; /* Center image vertically */
  justify-content: center; /* Center image horizontally */
}

.why-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-item-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.why-description {
  font-size: 0.9rem;
  color: #333333;
  line-height: 1.5rem;
}
